body {
  margin: 0;
  /* padding: 0; */
}
main {
  /* padding: 20px;
  max-width: 1400px; */
  width: 100%;
  margin: 0 auto;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.post-wrapper {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 250px; */
  margin-bottom: 100px;
}
@media screen and (min-width: 700px) {
  div.post {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
  }
}